<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cn.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.cn.entity.SysUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="pass_word" jdbcType="VARCHAR" property="passWord"/>
    </resultMap>

    <select id="loadUserByUsername" parameterType="string" resultType="com.cn.entity.SysUser">

        select id,user_name,pass_word from sys_user
        <where>
            <if test='username!=null and username!=""'>
                user_name=#{username}
            </if>
        </where>
    </select>
</mapper>